<div class="container-fluid text-center bg-dark text-light">
    <h1 class="pt-2 font-weight-bold">SMART COFFEE MAKER</h1>
    <h5 class="pb-2">createdBy : Mirza Setiyono</h5>
</div>
<!-- menu component -->
<app-menus id="menu-comp" class="menu-comp" #menuPanel></app-menus>

<!-- ingredients panel component -->

<div class="mt-3">
    <app-ingredients-panel (myEvent)="brewPanel.sendNewMenu(); menuPanel.checkAndRedraw(); toggleTransformMessage()"></app-ingredients-panel>
</div>

<div [class.messageBox]="transformMessage">

    <div *ngIf="justStarted">
        <h3 class="text-center font-weight-bold">COFFEE MENU</h3>
        <p class="text-center">This is the Menu, take a look, <br> when you're done,
            scroll down and fill ingredients then press continue</p>
    </div>

    <div *ngIf="finishedChoosing">
            <h3 class="text-center font-weight-bold">BREWING</h3>
        <p class="text-center">
            Notice that "FILL INGREDIENTS" CHANGES to "CURRENT INGREDIENTS" <br>
            Pick coffee and press "brew"
            Notice changes in menu when ingredients
            gets thinner
        </p>
    </div>

    <div *ngIf="brewingSuccess">
            <h3 class="text-center font-weight-bold"></h3>
        <p class="text-center">
            Brewing Succeed!
        </p>
    </div>

    <div *ngIf="finishedBrewing">
            <h3 class="text-center font-weight-bold">FINISHED</h3>
        <p class="text-center">
            Press Reset or refresh page to restart
        </p>
    </div>
</div>

<!-- brew panel component -->
<div class="mt-3">
    <app-brew-panel id="brewPanel" #brewPanel (event)="menuPanel.checkAndRedraw()"></app-brew-panel>
</div>

<div class="container-fluid text-center bg-dark text-light sticky-bottom desktop-width mt-3">
    <h1 class="pt-2 font-weight-bold">SMART COFFEE MAKER</h1>
    <h5 class="pb-2">createdBy : Mirza Setiyono</h5>
</div>