#canvas{
    margin-top: 10px !important;
}
#responsive-menu{
    visibility: hidden;
    height: 0vh;
}

@media only screen and (max-width: 990px){
    .menu-ingredients{
        font-size: 14px;
    }
    .title-menu{
        max-width: 110;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #responsive-menu{
        visibility: visible;
        height: auto;
    }
    #canvas{
        display: none;
    }
    ul{
        list-style-type: none;
    }
    li{
        text-align: start;
        left: -5%;
        font-size: 6px;
        margin-left: 0;
    };
    
    
}