<div class="container-fluid bg-light">
    <div class="row justify-content-center border-bottom border-dark bg-dark text-light">
        <h2>COFFEE MENU</h2>
    </div>

    <div class="text-center">
        <canvas class="mt-2 mb-1" id="canvas" #menu width="1600" height="600"></canvas>

        <!-- THIS IS FOR MOBILE WIDTH -->
        <div class="d-flex flex-column" id="responsive-menu">
            <div class="col-xs-4 text-center justify-content-center">
                <p class="title-menu list-group">Espresso</p>
                <ul>
                    <li class="menu-ingredients list-group-item">Coffee 60 ml</li>
                </ul>   
            </div>
            <div class="col-xs-4">
                <p class="title-menu list-group">Latte</p>
                <ul>
                    <li class="menu-ingredients list-group-item">Coffee 40 ml</li>
                    <li class="menu-ingredients list-group-item">Milk (steamed) 90 ml</li>
                    <li class="menu-ingredients list-group-item">Milk (foamed) 10 ml</li>
                </ul>   
            </div>
            <div class="col-xs-6">
                <p class="title-menu list-group">Americano</p>
                <ul>
                    <li class="menu-ingredients list-group-item">Coffee 40 ml</li>
                    <li class="menu-ingredients list-group-item">Water 60 ml</li>
                </ul>   
            </div>
            <div class="col-xs-6">
                <p class="title-menu list-group">Mocha</p>
                <ul>
                    <li class="menu-ingredients list-group-item">Coffee 50 ml</li>
                    <li class="menu-ingredients list-group-item">Milk (steamed) 30 ml</li>
                    <li class="menu-ingredients list-group-item">Chocolate 50 ml</li>
                    <li class="menu-ingredients list-group-item">Milk (foamed) 10 ml</li>
                </ul>   
            </div>
            <div class="col-xs-6">
                <p class="title-menu list-group">Flat White</p>
                <ul>
                    <li class="menu-ingredients list-group-item">Coffee 30 ml</li>
                    <li class="menu-ingredients list-group-item">Milk (steamed) 70 ml</li> 
                </ul>
            </div>
            <div class="col-xs-6">
                <p class="title-menu list-group">Capuccino</p>
                <ul>
                    <li class="menu-ingredients list-group-item">Coffee 40 ml</li>
                    <li class="menu-ingredients list-group-item">Milk (steamed) 30 ml</li>
                    <li class="menu-ingredients list-group-item">Milk (foamed) 30 ml</li>
                </ul>   
            </div>
            <div class="col-xs-6">
                <p class="title-menu list-group">Long Black</p>
                <ul>
                    <li class="menu-ingredients list-group-item">Coffee 60 ml</li>
                    <li class="menu-ingredients list-group-item">Water 30 ml</li>
                </ul>   
            </div>
            <div class="col-xs-6">
                <p class="title-menu list-group">Noisette</p>
                <ul>
                    <li class="menu-ingredients list-group-item">Coffee 60 ml</li>
                    <li class="menu-ingredients list-group-item">Milk (steamed) 30 ml</li>
                </ul>   
            </div>
            <div class="col-xs-6 list-group">
                <p class="title-menu">Marocchino</p>
                <ul>
                    <li class="menu-ingredients list-group-item">Coffee 50 ml</li>
                    <li class="menu-ingredients list-group-item">Chocolate 50 ml</li>
                    <li class="menu-ingredients list-group-item">Milk (foamed) 20 ml</li>
                </ul>   
            </div>
           
        </div>

    </div>
</div>