<div class="container-fluid bg-light">
    <div class="row justify-content-center border-bottom border-dark bg-dark text-light">
        <h2>COFFEE MENU</h2>
    </div>

    <div class="text-center">
        <canvas class="mt-2 mb-1" id="canvas" #menu width="1600" height="600"></canvas>

        <!-- THIS IS FOR MOBILE WIDTH -->
        <div class="row" id="responsive-menu">
            <div class="col-sm-4">
                <p class="title-menu">Espresso</p>
                <ul>
                    <li class="menu-ingredients">Coffee 60 ml</li>
                </ul>   
            </div>
            <div class="col-sm-4">
                <p class="title-menu">Latte</p>
                <ul>
                    <li class="menu-ingredients">Coffee 40 ml</li>
                    <li class="menu-ingredients">Milk (steamed) 90 ml</li>
                    <li class="menu-ingredients">Milk (foamed) 10 ml</li>
                </ul>   
            </div>
            <div class="col-sm-4">
                <p class="title-menu">Americano</p>
                <ul>
                    <li class="menu-ingredients">Coffee 40 ml</li>
                    <li class="menu-ingredients">Water 60 ml</li>
                </ul>   
            </div>
            <div class="col-sm-4">
                <p class="title-menu">Mocha</p>
                <ul>
                    <li class="menu-ingredients">Coffee 50 ml</li>
                    <li class="menu-ingredients">Milk (steamed) 30 ml</li>
                    <li class="menu-ingredients">Chocolate 50 ml</li>
                    <li class="menu-ingredients">Milk (foamed) 10 ml</li>
                </ul>   
            </div>
            <div class="col-sm-4">
                <p class="title-menu">Flat White</p>
                    <li class="menu-ingredients">Coffee 30 ml</li>
                    <li class="menu-ingredients">Milk (steamed) 70 ml</li> 
            </div>
            <div class="col-sm-4">
                <p class="title-menu">Capuccino</p>
                <ul>
                    <li class="menu-ingredients">Coffee 40 ml</li>
                    <li class="menu-ingredients">Milk (steamed) 30 ml</li>
                    <li class="menu-ingredients">Milk (foamed) 30 ml</li>
                </ul>   
            </div>
            <div class="col-sm-4">
                <p class="title-menu">Long Black</p>
                <ul>
                    <li class="menu-ingredients">Coffee 60 ml</li>
                    <li class="menu-ingredients">Water 30 ml</li>
                </ul>   
            </div>
            <div class="col-sm-4">
                <p class="title-menu">Noisette</p>
                <ul>
                    <li class="menu-ingredients">Coffee 60 ml</li>
                    <li class="menu-ingredients">Milk (steamed) 30 ml</li>
                </ul>   
            </div>
            <div class="col-sm-4">
                <p class="title-menu">Marocchino</p>
                <ul>
                    <li class="menu-ingredients">Coffee 50 ml</li>
                    <li class="menu-ingredients">Chocolate 50 ml</li>
                    <li class="menu-ingredients">Milk (foamed) 20 ml</li>
                </ul>   
            </div>
           
        </div>

    </div>
</div>